.headerColor {
    background-color: #0077a7 !important;
    color: #fff !important;
}

button{
    color: #fff !important;
}

#mobileScreen {
    display: none !important;
}

@media screen and (max-width: 600px) {
    #mobileScreen {
        display: block !important;
    }

    #bigScreen {
        display: none !important;
    }
}

button:hover{
    color:black !important;
}