<mat-toolbar class="fixed-top fw-normal headerColor toolbar">
    <span class="fw-bold hover:text-black">Portfolio</span>
    <div class="container-fluid justify-content-end" id="bigScreen">
        <button mat-button class="float-end" (click)="scrollToTarget('contact');">Contact</button>
        <button mat-button class="float-end me-2" (click)="scrollToTarget('proficiencies');">Proficiencies</button>
        <button mat-button class="float-end me-2" (click)="scrollToTarget('skills');">Skills</button>
        <button mat-button class="float-end me-2" (click)="scrollToTarget('about');">About</button>
        <button mat-button class="float-end me-2" (click)="scrollToTarget('base');">Home</button>
    </div>

    <div id="mobileScreen" class="ms-auto">
        <button mat-icon-button aria-label="menu icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"
            aria-controls="offcanvasResponsive">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="offcanvas-lg offcanvas-end headerColor" style="transition: 0.5s;" tabindex="-1"
            id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <button type="button" mat-icon-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                    aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="offcanvas-body ">
                <div class="navbar-nav flex-grow-1 pe-3">
                    <button mat-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                        (click)="scrollToTarget('base');">Home</button>
                    <button mat-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                        (click)="scrollToTarget('about');">About</button>
                    <button mat-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                        (click)="scrollToTarget('skills');">Skills</button>
                    <button mat-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                        (click)="scrollToTarget('proficiencies');">Proficiencies</button>
                    <button mat-button data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                        (click)="scrollToTarget('contact');">Contact</button>
                </div>
                <div class="mt-5">
                    <div class="d-flex mt-2" style="margin-left: 32%;">
                        <a href="https://www.linkedin.com/in/aadhivenkat" target="_blank">
                            <mat-icon>
                                <img src="../../assets/images/Linkedin.png" alt="" class="hover:scale-125">
                            </mat-icon>
                        </a>
                        <a href="https://github.com/aadhiVenkat" target="_blank" class="mx-3">
                            <mat-icon>
                                <img src="../../assets/images/GITHUB.png" alt="" class="hover:scale-125">
                            </mat-icon>
                        </a>
                        <a href="../../assets/images/VENKATAADINARAYANA.pdf" target="_blank" download="Venkata_Adi_Narayana_P">
                            <mat-icon>
                                <img src="../../assets/images/Resume.png" alt="" class="hover:scale-125">
                            </mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>