<mat-card class="mx-auto bg-dark shadow-lg p-3 mb-5 rounded text-white">
  <mat-card-header class="fs-1 fw-semibold text-decoration-underline">About</mat-card-header>
  <mat-card-content>With a solid background spanning over 3 years as a Full-Stack Developer
    in the engineering and technology sector,
    I am now actively pursuing a role as a Full-Stack Developer,
    specializing in backend development using .NET, within a dynamic and innovative company.
    Proficient in CRUD operations, my expertise extends beyond technology boundaries, making me ready to seamlessly
    transition into different technologies and domains.
    My unwavering commitment revolves around leveraging my extensive expertise to streamline project timelines, refine
    UI/UX elements, seamlessly integrate APIs, and proficiently address challenges.
    My ultimate aim is to spearhead product excellence and elevate user satisfaction through the implementation of
    forward-thinking solutions.
  </mat-card-content>
</mat-card>