::ng-deep .skill .mdc-tab__text-label { 
    font-weight: 700 !important;
    color: lightsteelblue !important;
}

.rating:hover{
    background-color: red;
}

mat-card,p{
    animation: bottomSlide 4s ease alternate;
    animation-delay: .2s;
}

img{
    animation: rightSlide 6s ease alternate;
    animation-delay: .2s;
}

.card,h1{
    animation: leftSlide 5s ease alternate;
    animation-delay: .2s;
    /* font-size: 35px;
    color: lightsteelblue; */
}