<!-- <div class="card mt-8 mx-auto bg-dark text-white border-dark" style="width: 85%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="../assets/images/Logo2.jpeg" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8 my-auto">
            <div class="card-body">
                <p style="font-size: 30px;">Hello It's me</p>
                <h1 class="card-title fw-bold" style="font-size: 35px;color: lightsteelblue;">Venkata Adi Narayana <span>Penjuru</span></h1>
                <p class="card-text" style="font-size: 30px;">I'm a Full Stack Developer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div> -->

<mat-card class="mt-8 mx-auto bg-dark text-white">
    <div class="row g-0">
        <div class="col-md-3">
            <img mat-card-image src="../assets/images/Logo2.png" alt="" class="img-fluid rounded-start mt-3 logo2">
            <img mat-card-image src="../assets/images/Logo1.jpg" alt="" class="img-fluid rounded-start rounded-1 logo1">
        </div>
        <mat-card-content class="col-md-8 my-auto">
            <div>
                <p>Hello It's me</p>
                <h1 class="fw-bold">Venkata Adi Narayana Penjuru</h1>
                <p>I'm a <span id="element" class="fw-bold"></span></p>
            </div>
        </mat-card-content>
    </div>
</mat-card>