<div class="card mt-8 mx-auto bg-dark text-white border-dark" style="width: 50%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="../assets/images/Logo2.jpeg" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p style="font-size: 35px;">Hello It's me</p>
                <h1 class="card-title fw-bold" style="font-size: 40px;color: lightsteelblue;">Venkata Adi Narayana <span>Penjuru</span></h1>
                <p class="card-text" style="font-size: 29px;">I'm a Full Stack Developer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>