<app-header></app-header>
<div class="main-container">
    @defer (on viewport) {
        <section id="base" class="section-container section-hero">
            <app-base></app-base>
        </section>
    }
    @loading (after 150ms; minimum 150ms) {
        <div class="section-container section-hero loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 150ms) {
        <div class="section-container section-hero"></div>
    }
    @error {
        <div class="section-container section-hero error-placeholder">
            <p>Unable to load component</p>
        </div>
    }

    @defer (on viewport) {
        <section id="about" class="section-container">
            <app-about></app-about>
        </section>
    }
    @loading (after 200ms; minimum 200ms) {
        <div class="section-container loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 200ms) {
        <div class="section-container"></div>
    }
    @error {
        <div class="section-container error-placeholder">
            <p>Unable to load component</p>
        </div>
    }

    @defer (on viewport) {
        <section id="skills" class="section-container">
            <app-skills></app-skills>
        </section>
    }
    @loading (after 250ms; minimum 250ms) {
        <div class="section-container loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 250ms) {
        <div class="section-container"></div>
    }
    @error {
        <div class="section-container error-placeholder">
            <p>Unable to load component</p>
        </div>
    }

    @defer (on viewport) {
        <section id="proficiencies" class="section-container">
            <app-proficiencies></app-proficiencies>
        </section>
    }
    @loading (after 350ms; minimum 350ms) {
        <div class="section-container loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 350ms) {
        <div class="section-container"></div>
    }
    @error {
        <div class="section-container error-placeholder">
            <p>Unable to load component</p>
        </div>
    }

    @defer (on viewport) {
        <section id="projects" class="section-container">
            <app-projects></app-projects>
        </section>
    }
    @loading (after 400ms; minimum 400ms) {
        <div class="section-container loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 400ms) {
        <div class="section-container"></div>
    }
    @error {
        <div class="section-container error-placeholder">
            <p>Unable to load component</p>
        </div>
    }

    @defer (on viewport) {
        <section id="contact" class="section-container">
            <app-contact></app-contact>
        </section>
    }
    @loading (after 1000ms; minimum 1000ms) {
        <div class="section-container loading-placeholder">
            <div class="spinner"></div>
        </div>
    }
    @placeholder (minimum 1000ms) {
        <div class="section-container"></div>
    }
    @error {
        <div class="section-container error-placeholder">
            <p>Unable to load component</p>
        </div>
    }
</div>