<app-header></app-header>
<div class="container">
    @defer (on viewport) {
    <div style="margin-top: 9%;" id="base" class="mx-auto component_width">
        <app-base></app-base>
    </div>
    }
    @loading (after 150ms; minimum 150ms){
    <div style="margin-top: 9%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 150ms){
    <div style="margin-top: 9%;" class="mx-auto component_width"></div>
    }
    @error {
    <div style="margin-top: 9%;" class="mx-auto component_width">Unable to load component</div>
    }

    @defer (on viewport) {
    <div style="margin-top: 5%;" class="mx-auto component_width">
        <app-about id="about"></app-about>
    </div>
    }
    @loading (after 200ms; minimum 200ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 200ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">About</div>
    }
    @error {
    <div style="margin-top: 5%;" class="mx-auto component_width">Unable to load component</div>
    }


    @defer (on viewport) {
    <div style="margin-top: 5%;" class="mx-auto component_width">
        <app-skills id="skills"></app-skills>
    </div>
    }
    @loading (after 250ms; minimum 250ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 250ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Skills</div>
    }
    @error {
    <div style="margin-top: 5%;" class="mx-auto component_width">Unable to load component</div>
    }

    @defer (on viewport) {
    <div style="margin-top: 5%;" class="mx-auto component_width">
        <app-proficiencies id="proficiencies"></app-proficiencies>
    </div>
    }
    @loading (after 350ms; minimum 350ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 350ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Proficiencies</div>
    }
    @error {
    <div style="margin-top: 5%;" class="mx-auto component_width">Unable to load component</div>
    }

    @defer (on viewport) {
    <div style="margin-top: 5%;" class="mx-auto component_width">
        <app-projects id="projects"></app-projects>
    </div>
    }
    @loading (after 400ms; minimum 400ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 400ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Projects</div>
    }
    @error {
    <div style="margin-top: 5%;" class="mx-auto component_width">Unable to load component</div>
    }

    @defer (on viewport) {
    <div style="margin-top: 5%;" class="mx-auto component_width">
        <app-contact id="contact"></app-contact>
    </div>
    }
    @loading (after 1000ms; minimum 1000ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Loading...</div>
    }
    @placeholder (minimum 1000ms){
    <div style="margin-top: 5%;" class="mx-auto component_width">Contact</div>
    }
    @error {
    <div style="margin-top: 5%;" class="mx-auto component_width">Unable to load component</div>
    }
</div>