<div>
    <div>
        <app-header></app-header>
    </div>
    <div style="margin-top: 9%;" class="mx-auto component_width">
        <app-base></app-base>
    </div>
    <div style="margin-top: 50px;display: block;" class="mx-auto component_width">
        <app-about></app-about>
    </div>
    <div style="margin-top: 50px;display: block;" class="mx-auto component_width">
        <app-skills></app-skills>
    </div>
    <div style="margin-top: 50px;display: block;" class="mx-auto component_width">
        <app-proficiencies></app-proficiencies>
    </div>
    <div style="margin-top: 50px;display: block;" class="mx-auto component_width">
        <app-contact></app-contact>
    </div>
</div>