@media screen and (min-width: 600px) {
    #exp {
        width: 60% !important;
    }
}

mat-card,p,h5{
    animation: bottomSlide 4s ease alternate;
    animation-delay: .2s;
}

img{
    animation: rightSlide 6s ease alternate;
    animation-delay: .2s;
}

.card,h1{
    animation: leftSlide 5s ease alternate;
    animation-delay: .2s;
    /* font-size: 35px;
    color: lightsteelblue; */
}