<mat-card class="mx-auto bg-dark shadow-lg p-3 mb-5 rounded text-white skill">
    <!-- <mat-card-header class="fs-1 fw-semibold text-decoration-underline">Proficiencies</mat-card-header> -->
    <mat-card-content class="col-md-8 my-auto w-100">
        <div class="container text-center">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon text-sm">work</mat-icon>
                        Proficiency
                    </ng-template>
                    <mat-card-content>
                        <div class="row gap-4 row-cols-lg-2 mt-3 exp">
                            <div class="card text-bg-dark mb-2 mx-auto border-success-subtle">
                                <div class="card-header">Senior Software Specialist</div>
                                <div class="card-body">
                                    <h5 class="card-title">S&P Global</h5>
                                    <p class="card-text">Full-Stack Developer</p>
                                    <sub>(06/2024-To-Current)</sub>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-content>
                        <div class="row gap-4 row-cols-lg-2 mt-3 exp">
                            <div class="card text-bg-dark mb-2 mx-auto border-success-subtle">
                                <div class="card-header">Software Engineer</div>
                                <div class="card-body">
                                    <h5 class="card-title">Virtusa Consulting Services Private Limited</h5>
                                    <p class="card-text">Full-Stack Developer</p>
                                    <sub>(2021-To-05/2024)</sub>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon text-sm">school</mat-icon>
                        Qualification
                    </ng-template>
                    <mat-card-content>
                        <div class="row gap-4 row-cols-lg-3 mt-3 justify-content-center">
                            <div class="card text-bg-dark mb-2 border-info">
                                <div class="card-header">Post Graduate</div>
                                <div class="card-body">
                                    <h5 class="card-title">MCA</h5>
                                    <p class="card-text">Jawaharlal Nehru Technological University, Anantapur </p>
                                    <sub>(2017-2020)</sub> <br>
                                    <sub class="card-text">Siddhartha Institute of Engineering and Technology</sub>
                                </div>
                            </div>
                            <div class="card text-bg-dark mb-2 border-info">
                                <div class="card-header">Graduate</div>
                                <div class="card-body">
                                    <h5 class="card-title">BSC</h5>
                                    <p class="card-text">Yogi Vemana University, Kadapa </p>
                                    <sub>(2014-2017)</sub> <br>
                                    <sub class="card-text">Loyola Degree College</sub>
                                </div>
                            </div>
                            <div class="card text-bg-dark mb-2 border-info">
                                <div class="card-header">Mid Level</div>
                                <div class="card-body">
                                    <h5 class="card-title">CSE</h5>
                                    <p class="card-text">Board of Intermediate Education A.P </p>
                                    <sub>(2012-2014)</sub> <br>
                                    <sub class="card-text">Govt. Junior College</sub>
                                </div>
                            </div>
                            <div class="card text-bg-dark border-info mb-2">
                                <div class="card-header">Higher Secondary</div>
                                <div class="card-body">
                                    <h5 class="card-title">SSC</h5>
                                    <p class="card-text">Board of Secondary Education A.P </p>
                                    <sub>(2012)</sub>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>


<!-- <mat-icon class="text-sm" aria-hidden="false" aria-label="Example star icon"
fontIcon="today"></mat-icon> -->
