mat-card,p{
    animation: topSlide 2s ease alternate;
    animation-delay: .2s;
}

img{
    animation: leftSlide 2s ease alternate;
    animation-delay: .2s;
}

h1{
    animation: rightSlide 2s ease alternate;
    animation-delay: .2s;
    font-size: 35px;
    color: lightsteelblue;
}
p{
    font-size: 30px;
}
span{
    color: gold;
}


.logo2 {
    display: none !important;
}


@media screen and (max-width: 600px) {
    .card{
        width: 100% !important;
    }
}

@media screen and (max-width: 760px) {
    .logo2 {
        display: block !important;
    }

    .logo1 {
        display: none !important;
    }
}

/* @media screen and (max-width: 765px) {
    .rounded-start{
        border-radius: 50% !important;
    }
} */